 
body {
    color:white;
    background-color:#c2b280;
    background-image:url(image/fond.jpg);
    background-repeat:no-repeat;
    }
.puissanceHp {
    color:rgb(238, 238, 135);
    font-size: 20px;
    text-align: center;
}
.torque {
    color:rgb(238, 238, 135);
    font-size: 20px;
    text-align: center;
}
.nom {
    color:rgb(219, 193, 74);
}
a:link
{
text-decoration:none;
}


#menu{
    text-align: center;
}

#titre
{
    text-align: center;
    font-size: 40px;
}
#button
{
    order: none;
    outline: none;
    height: 25px;
    width: 160px;
    background: #53b2cf;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#button:hover
{
    order: none;
    outline: none;
    height: 25px;
    width: 160px;
    background: #a9cad4;
    text-align: center;
    font-size: 18px;
    color: black;
    border-radius: 20px;
    display: inline-block;
}
#buttonModifier
{
    order: none;
    outline: none;
    height: 20px;
    width: 160px;
    background: #0c5970;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#buttonModifier:hover
{
    order: none;
    outline: none;
    height: 20px;
    width: 160px;
    background: #95c8d8;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#buttonSupprimer
{
    opacity: 0.5;
    order: none;
    outline: none;
    height: 20px;
    width: 160px;
    background: #cc0c0c;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#buttonSupprimer:hover
{
    opacity: 1.0;
    order: none;
    outline: none;
    height: 20px;
    width: 160px;
    background: #f52626;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#buttonEnregistrer
{
    order: none;
    cursor: pointer;
    outline: none;
    height: 25px;
    width: 160px;
    background: #039c31;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-left: 10rem;
    display: inline-block;
}
#buttonEnregistrer:hover
{
    order: none;
    cursor: pointer;
    outline: none;
    height: 25px;
    width: 160px;
    background: #5db477;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    margin-left: 10rem;
    display: inline-block;
}
