@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #009ab5;
}

li img {
    float: left;
    margin: 0 20px 0 0;
}

li p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

li {
    padding: 10px;
    overflow: auto;
}

.li-liste-voiture:hover{
    background: rgb(90, 89, 89);
    cursor: pointer;
}
.nav_top {
    list-style: none;
}
.nav_top li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_top li a{
    transition: all 0.3s ease 0s;
}

.nav_top li a:hover {
    color: #009ab5;
}

#buttonRecherche
{
    padding: 9px 25px;
    background-color: #009ab5;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#buttonRecherche:hover {
    background-color: thistle;
}

.listeBox{
    border: 3px solid black;
    text-decoration: none;
    margin-top: 20px;
    opacity: 0.90;
}
#image
{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

#resumePara
{
    border: 3px solid black;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    opacity: 0.90;
    background-color: rgb(24, 24, 24);
}

.nomVoiture{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #009ab5;
    border: 3px solid black;
}

#resultatRecherche
{
    border: 3px solid black;
    text-decoration: none;
    margin-top: 10px;
    opacity: 0.90;
    background-color: rgb(24, 24, 24);
    
}
.text-resume
{
    color: white;
    background-color: rgb(24, 24, 24);
}

.menuMembre
{
    border: 3px solid #009ab5;
    width: auto;
    height: auto;
    opacity: 0.90;
    border-radius: 5%;
    margin-top: auto;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 60px;
    text-align: center;
}

.champText{
    background-color: white;
}

.textMembre{
    margin-top: 10px;
}

#espace-membre{
    border: 3px solid #009ab5;
    width: auto;
    height: auto;
    opacity: 0.90;
    border-radius: 5%;
    margin-top: auto;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 60px;
    text-align: center;
}